{% extends 'base.html' %}
{% block title%} {{title}} {%endblock%}

{% block content%}
    {%from "macro.html"import render_field %}
<form name="sentMessage" id="contactForm" method="post">
    
    {{ render_field(form.username, class='form-control') }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    <label>Pregunta
    <select>
        <option value="aa">----Selecciona una opcion----</option>
        <option value="pregunta1">El nombre de tu mama</option>
        <option value="pregunta2">El nombre de tu perro</option>
        <option value="pregunta3">Cual es tu comida favorita</option>

    </select>
    </label><br><br>
    {{render_field(form.Respuesta)}}


    <button type="submit">Send</button>
</form>

{% endblock %}